---
layout: default
---

  <h1 class="page-heading">Portfolio</h1>
    
    <ul class="portfolio-wrapper">
      {% for image in site.static_files %}
        {% if image.path contains 'images/portfolio' %}
          <div class="portfolio-item-wrapper">
              <a href="{{ image.path }}" rel="lightbox">
                <div class="portfolio-pic" style="background-image: url({{ image.path }})"></div>
              </a>
            <!--<div class="button-row">-->
            <!--    <button class="site-button">Go To Site</button>-->
            <!--    <button class="detail-button">Site Details</button>-->
            <!--</div>-->
          </div>
        {% endif %}
      {% endfor %}
    </ul>

</div>
