  
@keyframes background {
  from {
    opacity: 0;
    height: 100vh;
  }

  to {
    opacity: .50;
    height:; 50vh;
  }
}

.hero {  
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $large-screen: em(860) !default;
  $hero-background-top: #7F99BE; 
  $hero-background-bottom: #20392B;
  $hero-color: black;
  $gradient-angle: 10deg;
  $hero-image: url(asset_path('pipeline.png'));
  // $hero-image: url(asset_path('brm.svg')) add url() back into @include backgroup first argument;
  $normal-font: 'Comfortaa', cursive;
  $fat-font: 'Sigmar One', cursive;
  $angry-font: 'Rock Salt', cursive;
  $typed-font: 'Special Elite', cursive;

  

  @include background($hero-image, linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top fixed);
  font-family: $typed-font;
  background-color: #324766;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3em;
  height: 50vh;
  animation-name: background;
  animation-duration: 6s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0s;
  
  .hero-logo img {
    height: 4em;
    margin-bottom: 1em;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    color: $hero-color;
    margin: auto;
    padding: 3.5em;
    text-align: center;

    .hero-copy {
      display: inline;
      text-align: center;
      font-size: 1.6em;
      margin-top: 2em;
      margin-bottom: 0.5em;
      color: $hero-color;

      @include media($large-screen) {
        font-size: 1.8em;
      }
      
      #angry {
        font-family: $angry-font;
      }
      
      #fat {
        font-family: $fat-font;
      }
      
      h1 {
        color: $hero-color;
        font-size: 1.6em;
        margin-bottom: 0.5em;

        @include media($large-screen) {
          font-size: 1.8em;
        }
      }

      p {
        color: $hero-color;
        line-height: 1.4em;

        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 40%;
        }
      }
    }
  }
  .scroll-on-page-link {
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 2px solid white;
    background-color: transparent;
    position: absolute;
    bottom:   0;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s ease-in-out;
    
    &:hover {
      background-color: rgba(255,255,255,0.7);
    }
    
    &:after {
      content: "";
      position: absolute;
      top: 5%;
      left: 54%;
      width: 25px;
      height: 25px;
      border-width: 0px 2px 2px 0px;
      transform: rotate(46deg) translate(-50%) skew(10deg, 10deg);
      transform-origin: left;
      border-style: solid;
      border-color: white;
    }
  }
}
