#svg-box {
  height: 100vh;
  animation: shrink 2s 5s normal forwards
}

@keyframes shrink {
  from {
    height: 100vh
  }
  to {
    height: 10vh
  }
}

svg {
  fill: black;
  height: 100%;
  width: 100%;
}
