
@font-face {
  font-family: "DejaVuSans";
  src: url(asset_path("DejaVuSans-ExtraLight.ttf"));
}

//colors
$green: rgba(125, 150, 130, 0.5);
$blue: rgba(128, 162, 176, 0.5);
// $gray:

body {
  overflow: hidden;
  font-family: DejaVuSans;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#container {
  width: 100vw;
  height: 100vh;
}

.container-row {
  display: flex;
  flex-flow: row wrap;
}

#tl,
#tr,
#bl,
#br {
  height: 50vh;
  width: 50vw;
  pointer-events: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#tl {
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  background-color: $green;
}

#tr {
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
}

#bl {
  border-right: 1px solid gray;
  border-top: 1px solid gray;
}

#br {
  border-left: 1px solid gray;
  border-top: 1px solid gray;
  background-color: $green;
}

@media only screen and (min-width: 641px) {
  @keyframes ctShrink {
    from {
      height: 100vh;
      width: 100vw;
    }
    to {
      height: 30vh;
      width: 30vw;
    }
  }
  
  p {
    pointer-events: none;
    text-indent: 1.5vw;
    margin: 0 0 1.5vh 0;
    height: 0;
    width: 0;
  }
  
  .text {
    color: rgba(128, 162, 176, 1);
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 0;
    height: 0;
    transition: height 1s ease, width 1s ease;
    transition-delay: 2s;
    margin-left: 1vw;
    margin-right: 1vw;
  }
  
  
  #a-text.open {
    display: block;
    font-size: 1.12em;
    padding-top: 0px;
    width: 40%;
    height: 100%;
  }
  
  #a-text.open > p {
    height: auto;
    width: auto;
  }
  
  #a-pic.open {
    background-color: none;
    background-image: url(asset_path("png/np.jpg"));
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    width: 40%;
    height: 100%;
  }
  
  i {
    height: 0;
    width: 0;
  }
  
  #c-text.open {
    background-color: rgba(125, 150, 130, .25);
    width: 100%;
    height: 130%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
 
  #c-text.open > i {
    height: auto;
    width: auto;
    font-size: 4em;
    color: white;
  }
  
  #p-text.open {
    background-color: rgba(128, 162, 176, .25);
    width: 100%;
    height: 130%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  #chai-text, #sarah-text, #mm-text {
  order: 2;
  background: rgba(255,255,255,0.5);
  padding: 2vw;
  font-size: 1.2em;
  vertical-align: center;
}
  
}

@media only screen and (max-width: 640px) {
  @keyframes ctShrink {
    from {
      height: 100vh;
      width: 100vw
    }
    to {
      height: 25vh;
      width: 40vw
    }
  }
  
  p {
    text-indent: 1vw;
    pointer-events: none;
  }
  
  .text {
    color: rgba(128, 162, 176, 1);
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 0;
    height: 0;
    transition: height 1s ease, width 1s ease;
    transition-delay: 2s;
    margin: 2vw;
  }
  #a-text.open {
    order: 2;
    width: 100%;
    height: 50%
  }
  #a-pic.open {
    order: 1;
    background-color: none;
    background-image: url(asset_path("png/np.jpg"));
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    height: 50%
  }
  
   i {
    height: 0;
    width: 0;
  }
  #c-text.open {
    background-color: rgba(125, 150, 130, .25);
    width: 100%;
    height: 130%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
 
  #c-text.open > i {
    height: auto;
    width: auto;
    font-size: 4em;
    color: white;
  }
  
  #p-text.open {
    background-color: rgba(128, 162, 176, .25);
    width: 100%;
    height: 130%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  #chai-text, #sarah-text, #mm-text {
  order: 2;
  background: rgba(255,255,255,0.5);
  padding: 2vw;
  font-size: 1em;
  vertical-align: center;
}
  
}

@media only screen and (max-width: 320px) {
  
  @keyframes ctShrink {
    from {
      height: 100vh;
      width: 100vw
    }
    to {
      height: 15vh;
      width: 60vw
    }
  }
  p {
    margin: 0 0 1.5vh 0;
  }
  #a-pic.open {
    margin-top: -5vh;
  }
  #a-text.open {
    margin-top: -15vh;
    font-size: 0.9em;
  }
  
  #chai-text, #sarah-text, #mm-text {
  order: 2;
  background: rgba(255,255,255,0.5);
  padding: 2vw;
  font-size: .9em;
  vertical-align: center;
}
}

#ct {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  position: absolute;
  border: 2px solid gray;
  background-color: white;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 100vh;
  width: 100vw;
  animation: ctShrink 1s 2s forwards
}

svg {
  fill: gray;
}

#np {
  height: 100%;
  width: 100%;
}

#about,
#contact,
#blog,
#portfolio {
  height: 100%;
  width: 100%;
  transition: width 2s ease, height 2s ease
}

#tl,
#br,
#tr,
#bl {
  transition: background-color 1s ease, width 2s ease, height 2s ease, opacity 2s ease;
}

#tl:hover,
#br:hover,
#tr:hover,
#bl:hover {
  background-color: $blue;
}

#tl #about,
#tr #contact,
#bl #blog,
#br #portfolio {
  transition: fill 1s ease, stroke 0.5s ease, stroke-width 0.5s ease, height 0.5 ease;
}

#tl:hover #about,
#tr:hover #contact,
#bl:hover #blog,
#br:hover #portfolio {
  fill: white;
}

#menu-icon {
  position: fixed;
  top: 5px;
  right: 5px;
  z-index: 999999;
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 1px solid gray;
  background-color: transparent;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: rgba(128, 128, 128, 0.5);
  }
  &:hover span {
    background: white;
  }
  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 70%;
    background: gray;
    border-radius: 9px;
    opacity: 1;
    left: 15%;
  }
}

#menu-icon span:nth-child(1),
#menu-icon span:nth-child(2) {
  top: 23px;
}

#menu-icon span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#menu-icon span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#about-text-wrapper,
#contact-text-wrapper,
#blog-text-wrapper,
#portfolio-text-wrapper {
  opacity: 0;
  width: 0;
  height: 0;
}

#about-text-wrapper.open,
#contact-text-wrapper.open,
#blog-text-wrapper.open,
#portfolio-text-wrapper.open {
  transition: opacity 1s ease;
  transition-delay: 2s;
  opacity: 1;
  margin-top: -10vh;
  height: 60vh;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
}

#menu-icon-wrapper {
  opacity: 0;
  transition: opacity 0.2s ease;
  pointer-events: none;
}

#menu-icon-wrapper.open {
  opacity: 1;
  transition: opacity 1s ease;
  transition-delay: 2s;
  pointer-events: auto;
}

#chai-container, #sarah-container, #mm-container {
  display: flex;
}

#portfolio-text-wrapper.open #chai-container, #portfolio-text-wrapper.open #sarah-container, #portfolio-text-wrapper.open #mm-container {
  width: 100%;
  height: 33%;
}

#portfolio-text-wrapper.open #chai-container #chai-pic, #portfolio-text-wrapper.open #chai-container #chai-text, #portfolio-text-wrapper.open #sarah-container #sarah-pic, #portfolio-text-wrapper.open #sarah-container #sarah-text, #portfolio-text-wrapper.open #mm-container #mm-pic, #portfolio-text-wrapper.open #mm-container #mm-text
{
  width: 50%;
  height: 100%;
}

#chai-pic {
    order: 1;
    background-image: url(asset_path("png/chai.png"));
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}



#sarah-pic {
    order: 1;
    background-image: url(asset_path("png/sarah.png"));
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#mm-pic {
    order: 1;
    background-image: url(asset_path("png/mm.png"));
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}