.sliding-panel-content {  
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $sliding-panel-border-color: $dark-gray;
  $sliding-panel-background: lighten($sliding-panel-border-color, 5%);
  $sliding-panel-color: #fff;
  $sliding-panel-border: 1px solid $sliding-panel-border-color;
  $sliding-panel-background-hover: rgba(0,0,0,0.7);
  $sliding-panel-color-hover: darken(#fff, 50%);
  $sliding-panel-background-focus: rgba(255,255,255,0.7);
  $typed-font: 'Special Elite', cursive;

  @include position(fixed, 0px auto 0px 0px);
  @include size(220px 100%);
  @include transform(translateX(-220px));
  @include transition(all 0.25s linear);
  background: transparent;
  z-index: 999999;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  font-family: $typed-font;
  font-size: 2em;

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
  }

  li a {
    border-bottom: $sliding-panel-border;
    color: $sliding-panel-color;
    display: block;
    font-weight: bold;
    padding: 1em;
    text-decoration: none;

    &:focus {
      background-color: $sliding-panel-background-focus;
    }

    &:hover {
      background-color: $sliding-panel-background-hover;
      color: $sliding-panel-color-hover;
    }
  }

  &.is-visible {
    @include transform(translateX(0));
  }
}

.sliding-panel-fade-screen {
  @include position(fixed, 0px 0px 0px 0px);
  @include transition;
  background: black;
  opacity: 0;
  visibility: hidden;
  z-index: 999998;

  &.is-visible {
    opacity: 0.4;
    visibility: visible;
  }
}

#nav-icon3 {
    position:fixed;
    top:0px;
    right:0px; 
    z-index: 999999;
    
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 2px solid white;
    background-color: transparent;
    
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
  
  &:hover {
    background-color: rgba(255,255,255,0.5);
  }
  
  span {
      display: block;
      position: absolute;
      height: 2px;
      width: 70%;
      background: white;
      border-radius: 9px;
      opacity: 1;
      left: 15%;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
  }
}

  
#nav-icon3 span:nth-child(1) {
  top: 13px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 23px;
}

#nav-icon3 span:nth-child(4) {
  top: 33px;
}

#nav-icon3.open span:nth-child(1) {
  top: 23px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}


// Based on code by Diego Eis
