---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

      
      <a href="/chai.png" rel="lightbox">
        <img id="chai" src="/chai.png"  alt="CHAI Website" />
      </a>
      <div id="chai-text">Ruby on Rails</div>
      
      <hr>
      
      <a href="/sarah.png" rel="lightbox">
        <img id="sarah" src="/sarah.png">
      </a>
      <div id="sarah-text">Squarespace</div>

      <hr>

      <a href="/mm.png" rel="lightbox">
        <img id="mm" src="/mm.png">
      </a>
      <div id="mm-text">Ruby on Rails</div>


  
</article>
